---
---

@import "{{ site.theme }}";

header h1 {
    font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f3f3f3;
    text-shadow: 0px 2px 0px #235796;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    font-size: 40px;
}

h2{
    color:#ddd;
    font-size: 2em;
}

#banner{
  margin-right: -486px;
}

#banner .downloads span {
    float: left;
    line-height: 52px;
    font-size: 90%;
    color: white;
    text-transform: uppercase;
    text-shadow: rgba(255,255,255,0.2) 0 1px 0;
}

#banner ul li a.button {
    background-color: #1761a0;
    color: white;
}

#banner .fork {
    position: fixed;
    left: 50%;
    margin-left: -325px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 14px;
    background-color: #1761a0;
}

#banner .button {
    border:none;
}


ul {
    list-style-image: url("https://pages-themes.github.io/midnight/assets/images/bullet.png");
}

strong {
    font-weight: bold;
    color: #fc0;
}

nav ul a {
    color: beige;
}

a {
    color: #ffcc00;
    font-weight: 400;
    text-decoration: none;
}

nav {
    top: 240px;
    left:43%;
}

.wrapper{
  width: 850px;
}

section {
    //background: url(https://pages-themes.github.io/midnight/assets/images/nav-bg.gif) #252525;
    width:inherit;
    border:none;
    border-radius: 10px;
    background-color: #444;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


body{
    background:#333;
    font: 15px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f0e7d5;
    font-weight: normal;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

header {
    background: url(https://pages-themes.github.io/midnight/assets/images/nav-bg.gif) #252525;
}

#banner{
    background: #252525;
    border:none;
}
